<div class="container">
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link">Template Driven Form</a>
      <a class="nav-link">Reactive Form</a>
    </li>
  </ul>
</div>
