<div class="container">
    <div class="row">
      <ng-container *ngIf="courses?.length === 0; else displayCourses">
        <span class="alert alert-danger"> There are no courses !!</span>
      </ng-container>
      <ng-template #displayCourses>
        <div *ngFor="let course of courses">
          <app-course class="col-md-4" [data]="course" 
                      (selected)="handleSelect($event)"></app-course>
        </div>
      </ng-template>
    </div>
  </div>
