<div class="container">
    <div class="row" style="margin-top: 20px;">
        <h1>Submit Course</h1>
     <div class="col-md-6">
    <form #formValue="ngForm" (ngSubmit)="handleSubmit(formValue.value)">
        <div class="form-group">
          <input type="text" 
                 class="form-control" 
                 id="courseName" 
                 required
                 name="courseName"
                 ngModel
                 #courseName="ngModel"
                 minlength="4"
                 maxlength="15"
                 placeholder="course name"
                 aria-describedby="courseName">
        </div>
        <div  *ngIf="courseName.touched && courseName.errors" class="alert alert-warning">
            {{courseName.errors | json}}
        </div>
        <div *ngIf="courseName.touched && courseName.invalid" class="alert alert-danger">
             
            <span *ngIf="courseName.errors.required">Course name is mandatory</span>
            <span *ngIf="courseName.errors.minlength">Course name should require {{courseName.errors.minlength.requiredLength - courseName.errors.minlength.actualLength }} characters</span>
        </div>
        <div class="form-group">
            <input type="text" 
            class="form-control" 
            name="coursePrice"
            required
            ngModel 
            #coursePrice="ngModel"
            id="price" 
            placeholder="course price"
            aria-describedby="coursePrice">
        </div>
        <div *ngIf="coursePrice.touched && coursePrice.invalid" class="alert alert-danger">
            <span *ngIf="coursePrice.errors.required">Course Price is mandatory</span>
        </div>
        <div class="form-group">
            <input type="date" 
            class="form-control" 
            id="startDate" 
            name="startDate"
            required
            ngModel 
            #startDate="ngModel"
            placeholder="start date"
            aria-describedby="startDate">
        </div>
        <div *ngIf="startDate.touched && startDate.invalid" class="alert alert-danger">
            <span *ngIf="startDate.errors.required">Start date is mandatory</span>
        </div>

        <div class="form-group form-check">
            <input type="checkbox"
            class="form-check-input"
            name="offer"
            ngModel 
            #offer = "ngModel"
            id="offer">
            <label class="form-check-label" for="offer">Offer</label>
        </div>
        <button type="submit"
                [disabled]="formValue.invalid" 
                class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
</div>
