<div style="width:18rem; border:1px solid goldenrod;margin:2px">
    <div class="card-header bg-success">
        <h5 class="card-title">{{course.name | coursename:'upper'}}</h5>
        <i class="fa fa-trash pull-right" aria-hidden="true" style="cursor:pointer;" (click)="delete(course.id)"></i>
    </div>
    <div class="card-body">
        <p class="card-text">Price: {{course.price | currency:'INR':true:'5.0-0'}}</p>
        <!--<p class="card-text">Rating: {{course.rating | number:'1.1-2'}}</p>-->
        <p class="card-text">Rating: <app-rating [rating]="course.rating"></app-rating></p>
        <p class="card-text">Offer: {{course.offer}}</p>
        <p class="card-text">Start Date:{{course.startDate | date:'dd-MMM-yy'}}</p>
        <!--<button (click)="selectCourse($event)" class="btn" 
                    [class.btn-success]="course.offer"
                    [class.btn-warning]="!course.offer">Details</button>
        -->
        
    </div>
   <div class="card-footer bg-secondary">
        <a  [routerLink]="['/courses',course.id]"
            class="btn" 
            [class.btn-success]="course.offer"
            [class.btn-warning]="!course.offer">Details</a>                    
    </div>
</div>
