<div class="container">
    <div class="row" style="margin-top: 20px;">
        <h1>Submit Course</h1>
     <div class="col-md-6">
      
     <h1 #heading>This is a Heading</h1>   
    <form [formGroup]="modelForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
          <input type="text" 
                 class="form-control" 
                 id="courseName" 
                 name="courseName"
                 formControlName="courseName"
                 placeholder="course name"
                 aria-describedby="courseName">
        </div>
        <div  *ngIf="coursename.touched && coursename.errors" class="alert alert-warning">
            {{coursename.errors | json}}
        </div>
        <div *ngIf="coursename.touched && coursename.invalid" class="alert alert-danger">
             
            <span *ngIf="coursename.errors.required">Course name is mandatory</span>
            <span *ngIf="coursename.errors.minlength">Course name should require {{coursename.errors.minlength.requiredLength - coursename.errors.minlength.actualLength }} characters</span>
        </div>
        <div class="form-group">
            <input type="text" 
            class="form-control" 
            name="coursePrice"
            id="price" 
            formControlName="coursePrice"
            placeholder="course price"
            aria-describedby="coursePrice">
        </div>
        <div *ngIf="courseprice.touched && courseprice.invalid" class="alert alert-danger">
            <span *ngIf="courseprice.errors.required">Course Price is mandatory</span>
        </div>
        <div class="form-group">
            <input type="date" 
            class="form-control" 
            id="startDate" 
            name="startDate"
            formControlName = "startDate"
            placeholder="start date"
            aria-describedby="startDate">
        </div>
        <div *ngIf="startdate.touched && startdate.invalid" class="alert alert-danger">
            <span *ngIf="startdate.errors.required">Start date is mandatory</span>
        </div>

        <div class="form-group form-check">
            <input type="checkbox"
            class="form-check-input"
            name="offer"
            formControlName="offer"
            id="offer">
            <label class="form-check-label" for="offer">Offer</label>
        </div>
        <button type="submit"
                [disabled]="modelForm.invalid" 
                class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
</div>
