<div class="container">
    <nav class="nav nav-pills flex-column flex-sm-row justify-content-center">
        
          <a class="nav-link" 
             [routerLink]="['template']"
             routerLinkActive="selected">Template Driven Form</a>
          <a class="nav-link" 
             [routerLink]="['reactive']"
             routerLinkActive="selected">Reactive Form</a>
        
    </nav>
      <router-outlet></router-outlet>
    </div>