<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/']">CourseFlix</a>
    <button class="navbar-toggler d-lg-none" 
            type="button" 
            data-toggle="collapse" 
            data-target="#collapsibleNavId" 
            aria-controls="collapsibleNavId"
            aria-expanded="false" 
            aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/courses']" 
                                    routerLinkActive="active" >Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/create-course']" 
                                    routerLinkActive="active" >Add-Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/directives']" 
                                  routerLinkActive="active">Custom-Directives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/orders']" 
                                routerLinkActive="active">Orders</a>
        </li>

        </ul>
    </div>
</nav>
