<div class="container">
    <h1>Custom Directive</h1>
    <div class="form-group">
        <input type="text" 
                name="phone" 
                id="phone"
                [formatPhone]="'US'">
        <label name="phone">Phone: </label>
    </div>           
</div>